certifi==2019.11.28
chardet==3.0.4
decorator==4.4.1
idna==2.8
imageio==2.8.0
imageio-ffmpeg==0.4.1
moviepy==1.0.1
numpy==1.18.1
Pillow==8.1.1
proglog==0.1.9
requests==2.22.0
requests-toolbelt==0.9.1
setuptools==45.2.0
tqdm==4.43.0
urllib3==1.25.8
